---
title: Le Wagon Middleman boilerplate
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(200,0,168,0.6) 0%, rgba(50,34,61,0.6) 50%), url(images/nature.jpeg);">
  <div class="banner-content">
    <h1>WELCOME HOME</h1>
    <p>Rent unique places to stay from local hosts in 190+ countries.


    </p>
    <%= link_to "How it works", "#", class: "btn btn-primary btn-lg" %>
    <!-- <a class="btn btn-primary btn-lg">How it works</a> -->
  </div>
</div>


<!-- Your features code -->
<div class="text-center padded">
  <div class="wrapper-icons">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
          <%= image_tag "globe.png" %>
          <!-- <img src="images/globe.png"> -->
          <h3>
            Discover the world
          </h3>
          <p>The earth is your new home.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <%= image_tag "dollar.png" %>

          <h3>
            Pay online
          </h3>
          <p>No cash issues anymore.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <%= image_tag "beer.png" %>
          <!--    <img src="images/beer.png"> -->
          <h3>
            Meet people
          </h3>
          <p>Discover new culture and lifestyle.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
         <%= image_tag "heart.png"%>
         <!--                 <img src="images/heart.png"> -->
         <h3>
          Share and love
        </h3>
        <p>Join a community you will love.</p>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Your cards code -->
<div class="wrapper-cards padded">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Your next trip!</h2>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg');">
          <div class="card-category">Paris</div>
          <div class="card-description">
            <h2>Seb's pentouse</h2>
            <p>What a view!</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/seb.jpg">
          <a class="card-link" href="#"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.jpeg');">
          <div class="card-category">London</div>
          <div class="card-description">
            <h2>Anne's home</h2>
            <p>Lovely house</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/anne.jpg">
          <a class="card-link" href="#"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpeg');">
          <div class="card-category">Brussels</div>
          <div class="card-description">
            <h2>Romain's House</h2>
            <p>Nice to meet you!</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/romain.jpeg">
          <a class="card-link" href="#"></a>
        </div>
        <!-- insert <div class="card"> -->
      </div>
    </div>
  </div>
</div>

<!-- Your newsletter code -->

<div class="text-center padded">
  <h3>Get news from us</h3>
  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputName2" placeholder="example@example.ex">
    </div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
  </form>
</div>

<!-- Your map code -->

<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.852937,2.364178);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{
      "featureType": "landscape",
      "stylers": [
      {
        "hue": "#FFBB00"
      },
      {
        "saturation": 43.400000000000006
      },
      {
        "lightness": 37.599999999999994
      },
      {
        "gamma": 1
      }
      ]
    },
    {
      "featureType": "road.highway",
      "stylers": [
      {
        "hue": "#FFC200"
      },
      {
        "saturation": -61.8
      },
      {
        "lightness": 45.599999999999994
      },
      {
        "gamma": 1
      }
      ]
    },
    {
      "featureType": "road.arterial",
      "stylers": [
      {
        "hue": "#FF0300"
      },
      {
        "saturation": -100
      },
      {
        "lightness": 51.19999999999999
      },
      {
        "gamma": 1
      }
      ]
    },
    {
      "featureType": "road.local",
      "stylers": [
      {
        "hue": "#FF0300"
      },
      {
        "saturation": -100
      },
      {
        "lightness": 52
      },
      {
        "gamma": 1
      }
      ]
    },
    {
      "featureType": "water",
      "stylers": [
      {
        "hue": "#0078FF"
      },
      {
        "saturation": -13.200000000000003
      },
      {
        "lightness": 2.4000000000000057
      },
      {
        "gamma": 1
      }
      ]
    },
    {
      "featureType": "poi",
      "stylers": [
      {
        "hue": "#00FF6A"
      },
      {
        "saturation": -1.0989010989011234
      },
      {
        "lightness": 11.200000000000017
      },
      {
        "gamma": 1
      }
      ]
    }
    ]
 // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>

<!-- Your footer code -->



<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


